body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gainsboro;
}

#calculator {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #7A568A;
}

#display {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #7A568A;
    background-color: gray;
    border-radius: 4px;
    text-align: right;
}

#buttons button {
    width: 30%;
    padding: 2px;
    margin: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: orangered;
    color: white;
}

#buttons button:nth-child(4n) {
    background-color: #28a745;
}

#buttons button:last-child {
    background-color: #dc3545;
}

#buttons button:nth-child(5n+1) {
    background-color: #6c757d; /* For the delete button */
}

#buttons button:nth-child(5n+2) {
    background-color: #17a2b8; /* For the power button */
}

/* Style for the history button if you added it */
#buttons button:nth-child(5n+3) {
    background-color: #ffc107; /* For the history button */
}
