body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .dashboard {
    min-height: 100vh;
    background: linear-gradient(3deg, #000021 70%, silver 100%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; /* Text color to white */
  }
  
  .dashboard h1, .register-title {
    font-size: 3rem; /* Make the text bigger */
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px #000000, 2px -2px 4px #000000, -2px 2px 4px #000000; /* Add a shadow to create an outline effect */
    margin-bottom: 20px; /* Space below the heading */
    color: white; /* Text color to white */
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center align the cards */
    width: 100%;
  }
  
  .card-wrapper {
    flex: 1 1 calc(25% - 20px); /* Adjust the percentage to control the number of cards per row */
    max-width: calc(25% - 20px); /* Ensure the cards don't stretch beyond the specified width */
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Center cards horizontally */
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(3deg, #000021 70%, silver 100%);
  }
  
  .form-container {
    background-color: #121430;
    padding: 20px;
    border-bottom: 4px solid #7749DE;
    border-radius: 10px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items */
    width: 100%;
  }
  
  .form-container input,
  .form-container select,
  .form-container button {
    height: 40px;
    margin-bottom: 15px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    background-color: #121430; /* Background color of the inputs */
    color: white; /* Text color inside inputs */
    border: 2px solid #7749DE; /* Border color for inputs */
  }
  
  .form-container button {
    background-color: #7749DE; /* Background color for the button */
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    height: 40px; /* Ensure the button has the same height as other inputs */
    width: 300px; /* Ensure the button has the same width as other inputs */
  }
  